html,body{
	margin:0; 
    padding:0;
    height:100%
}
body{
font-family: 'Noto Sans KR', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    width:60%;
    padding-bottom: 100px;
    margin: 0 auto;
    overflow: visible;
}
footer{
    padding: 15px 20px;
	background: #333;
	color:#fff;
}
.footer_info{
    padding-left: 30%;
    margin: 0 auto;
    text-align: start;
}


/*HEADER*/
/*login 영역*/
.wrapper #header #login{
	border-bottom: 1px solid #e6e8eb;
    list-style: none;
    display: flex;
    justify-content: right;
    padding-right: 5em;
}

/*logo 영역*/
.logo{
    margin-top: 4em;
    text-align: center;
}

/*main_menu 영역*/
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height:15vh;
    padding-bottom:3vh;
    width: 50vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
nav a{
    position: relative;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    color: #bfbfbf;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav a:after{
    content: "";
    position: absolute;
    background-color: #333;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav a:hover{
    color: #333;
}
nav a:hover:after{
    width: 100%;
}

.input-group{
    text-align: center;
}

.input-group span{
    display: flex;
    padding-left: 20%;
}

input{
    padding-bottom: 10px;
    border-radius: 10px;
}

textarea{
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    height:100px;
    font-family: inherit;
}

.input-group-prepend{
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-right{
    padding-top: 20px;
    margin: 10px;
    text-align: center;
}

.btn-success{
    padding: 5px 40px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
}
.btn-success:hover{
    background-color: black;
    color: white;
}

.btn-info{
    padding: 5px 40px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
}

.btn-info:hover{
    background-color: red;
    color: white;
}










/*배너*/
.banner{
    padding: 0;
    margin: 0 auto;
    padding-bottom: 60px;
}

.banner img{
    width: 1000px;
    height: 300px;
    
}



/*검색창*/
.search{
    padding: 0;
    margin: 0 auto;
}
#form1{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}
#sch_cont{
    display: flex;
    padding: 10px;
}
#allCk1{
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    border-width: 3px;
    color: white;
    background: black;
    margin: 0 auto;
}
#allCk1:hover{
    color:black;
    background: #ebff00;
}
.search1{
    width: 50vh;
    padding: 5px;
}
#sch_cont input{
    border: 1px solid black;
    border-radius: 5px;
    border-width: 3px;
}
.button{
    padding-left: 20px;
}
button{
    font-family: 'Noto sans KR',sans-serif;
    font-size: 16px;
    font-weight: bold;
}